/* partial dosyaları @import ifadesiyle ana
dosyamıza import edip kullanabiliriz*/

@import "reset";
@import "variables";

body {
  background-color: $bgColor;
  font-family: $fontFamily;
  font-family: $fontSize;
  color: $fontColor;
}

/** Nesting */

header {
  background-color: $navBgColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  img {
    width: 80px;
    border: $myBorder;
    border-radius: 11px;
    cursor: pointer;
    &:hover {
      /*! içinde bulunduğumuz lementi & ile
refer edebiliriz*/
      // transform: scale(1.1);
      scale: 1.1;
    }
  }
}
